body {
  background-color: #EFEAD8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  border-color: #D0C9C0;
  width: 8%;
}

h1 {
  color: #5F7161;
}

h3 {
  color: #6D8B74;
}
